maxima-5.42.2
source/input.txt
source/output.txt
source/Test.py
source/__pycache__/RunMaxima.cpython-38.pyc
source/__pycache__/EquationSolver.cpython-38.pyc
source/__pycache__/Simplify.cpython-38.pyc
source/stackFoFindModels.py
source/ModelOutputFile.txt
source/ParseBoy.py
source/ModelOutputOutputFile.txt
source/proof.txt
*.fasl
